.header__text-title{
    font-size: 16px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: var(--font);

    margin-bottom: 2.5em;
}
.header__text-link{
    margin-bottom: 2.5em;
}
.header__text-name{
    font-size: 16px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: var(--font);
}

.header__text-email{
    color: #04AA9B;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    font-family: var(--font);
    text-decoration: none;
}
.header__text-text{
    font-size: 16px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    font-family: var(--font);

    margin-bottom: 2.5em;
}