.footer{
    background: #e9ecef;
    &__block-head div{
        font-family: var(--font);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #ccc;
    }
    &__block-link{
        position: relative;
        top: -3px;
    }
    &__block-logo{
        vertical-align: middle;
        line-height: .8;
    }
    &__block-title{
        color: #000;
        font-size: 16px;
        line-height: 23px;
        font-family: var(--font);
        font-weight: 400;

        align-self: center;
    }
    &__block-name{
        font-size: 16px;
        line-height: 21px;
        font-family: var(--font);
        color: #000;
        font-weight: 400;
    }
    &__block-email{
        color: #04AA9B;
        font-weight: 500;
        font-family: var(--font);
        font-size: 16px;
        line-height: 21px;
        text-decoration: none;
    }
    &__block-head{
        position: relative;
        padding-bottom: 16px;
        padding-top: 35px;
        &::after{
            content: '';
            display: block;
            position: absolute;
            left: -15px;
            right: -15px;
            bottom: 0;
            border-bottom: 1px solid #e2e3e7;
        }
    }
    @media (max-width: 767px){
        .footer__block-title{
            font-family: "DM Sans",sans-serif;
            font-weight: 400;
            font-size: 1rem;
            color: #000;
            line-height: 1.5;
        }
        .footer__block-text{
            font-family: "DM Sans",sans-serif;
            font-weight: 400;
            font-size: 1rem;
            color: #000;
            line-height: 1.5;
        }
    }  
}