.header{
    background: url('../img/bg.jpg') center;
    padding-top: 4.6em;
    
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 18.2em;
    }
    &__list{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }
    &__list-link{
        text-decoration: none;
        font-family: var(--font);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        &:hover{
            color: #04AA9B;
            transition: .3s;
        }
    }
    &__title{
        font-family: var(--font);
        font-weight: 400;
        color: #000;
        font-size: 54px;
        line-height: 59px;
    }
    &__text{
        font-family: var(--font);
        font-weight: 400;
        color: #000;
        font-size: 20px;
        line-height: 26px;

        margin-bottom: 17.8em;
    }
    @media (max-width: 767px){
        .header__title{
            font-size: 1.7em;
            font-family: var(--font);
            font-weight: 400;
            color: #000;
            line-height: 1.1;
            margin-bottom: 2em;
        }
        .header__text{
            color: #000;
            font-family: "DM Sans",sans-serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1;
        }
    }
}
.header__btn{
    outline: none;
    border: none;
    background: none;
    display: none;
}
@media (max-width: 767px){
    .header__list{
        display: none;
    }
    .header__btn{
        outline: none;
        border: none;
        background: none;
        display: block;
    }
}